<nav
  class="
    bg-containcolor
    rounded-b-lg
    header
    flex
    justify-between
    items-center
    px-8
    mb-3
  "
>
  <img class="w-32" src="img/gamers-hub-logo.png" alt="" />
  <h1 class="text-fontcs font-semibold text-2xl">Dashboard</h1>
  <span class="text-white text-2xl"
    >Welcome <%- user.userName.toUpperCase() %>
  </span>
  <a href="/logout" class="text-fontcs font-semibold text-2xl cursor-pointer"
    >Logout</a
  >
</nav>
