<% for(let i = 0; i < posts.length; i++) { %>
<div data-id="<%= posts[i]._id %>">
  <h4 class="text-white"><%= posts[i].postMessage %></h4>
  <% if(String(posts[i].userId) == String(user._id)) { %>
  <form
    action="homepage/deletePost/<%= posts[i]._id %>?_method=DELETE"
    method="POST"
    class=""
  >
    <button class="text-white" type="submit">DELETE HERE</button>
  </form>
  <% }%>
</div>
<% } %>
