<footer class="container flex justify-center">
    <span class="text-fontcs font-bold">&#169 Copyright 2021</span>
  </footer>
  <script src="https://kit.fontawesome.com/24cf03ef21.js" crossorigin="anonymous"></script>
</body>
</html>