<footer class="bg-gunmetal flex flex-col justify-between min-h-screen py-9">
<<<<<<< HEAD
<span class="text-white text-center">Pass N' Play Copyright 2021</span>
=======
<span class="text-white text-center">Copyright 2021</span>
>>>>>>> fc975e221b83e7291a41d6a40cc41fb5fb28c62e

</footer>

</body>
</html>