<footer class="container flex justify-center">
    <span class="text-fontcs font-bold">&#169 Copyright 2021</span>
  </footer>
  <script src="https://kit.fontawesome.com/24cf03ef21.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</body>
</html>