<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Your one stop spot to find your favorite games, guides, and streamers!
    Create your own profile to like, and favorite a game.
    Share your information to others!"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="shorcut icon" href="#" />
    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="img/favicon_io/site.webmanifest" />
    <title>Pass N' Play</title>
    <script
      src="https://kit.fontawesome.com/24cf03ef21.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </head>
  <body class="bg-darknavy">
  </body>
</html>
