<footer class="flex flex-col items-center justify-between min-h-screen py-9 bg-gradient-to-r from-richblack via-richblack_light to-gunmetal">
    <a href="https://www.github.com/denniscampos/pass-n-play" target="_blank"><i class="fab fa-github text-white text-2xl mb-5"></i></a>
    <span class="text-white text-center">Copyright 2021</span>
</footer>
    
    </body>
    </html>