<div class="data-form">
  <form
    method="POST"
    action="/editProfile/edit/<% edits.twitter %>
   ?_method=PUT"
  >
    <h2>Edit user:</h2>
    <label for="inputFirstName">twitter</label>
    <input
      type="text"
      name="twitter"
      id="twitter"
      value="<%=
    %>"
    />

    <button type="submit">Update</button>
  </form>
</div>

<% console.log(edits.twitter) %>
