<%- include('partials/header') -%>

<div class="container flex justify-between items-center my-3">
  <h1 class="text-fontcs font-semibold text-2xl mx-5">Dashboard</h1>
  <span class="text-fontcs">Welcome <%- user.userName.toUpperCase() %></span>
  <a
    href="/logout"
    class="text-fontcs font-semibold text-2xl mx-5 cursor-pointer"
    >Logout</a
  >
</div>

<div class="container my-10">
  <input
    class="w-full rounded-2xl my-6 px-3 py-2"
    type="text"
    placeholder="Search Game"
  />
  <% for(let i = 0; i < games.length; i++) { %>
  <h2 class="text-fontcs text-4xl"><%- games[i].name %></h2>
  <p class="text-white">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem animi
    praesentium aut atque laudantium fuga iste sunt neque. Amet eveniet
    recusandae vero excepturi tempora hic officia quaerat ex incidunt
    accusantium.
  </p>
  <% } %>
</div>

<%- include('partials/footer') -%>
