<%- include('partials/header') -%>
<nav class="flex items-center justify-between px-8">
  <img class="object-contain h-24" src="img/pass-n-play-logo.png" alt="Logo">
  <ul class="flex">
    <li class="px-3 font-bold"><a class="text-fontcs hover:text-white" href="login">Login</a></li>
    <li class="px-3 font-bold"><a class="text-fontcs hover:text-white" href="Register">Register</a></li>
  </ul>
</nav>
    <div class="flex flex-col justify-center h-screen bg-center bg-cover bg-no-repeat" style="background-image:linear-gradient(rgba(42, 42, 42, 0.486), rgba(29, 29, 29, 0.76)),url(img/hero-img.jpg)">
      <div class="hero__contents__left ml-7 sm:ml-10 opacity-100">
        <h2 class="text-5xl text-white mb-8 sm:text-7xl">Pass and Play</h2>
        <p class="text-white max-w-md mb-8 font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ex neque veniam possimus itaque nam veritatis, soluta aperiam dolorem consequatur, sit maiores, natus accusamus debitis corporis deleniti modi reprehenderit dicta.</p>
        <form action="/register">
          <button class="rounded-md bg-charcoal w-36 py-2 px-4 text-white font-semibold tracking-wider">Get Started</button>
        </form>
      </div>
    </div>

<!-- <div class="container rounded-lg bg-containcolor py-10 px-5 my-10  overflow-hidden">
  <h1 class="text-fontc mb-5 text-5xl font-mono font-semibold">WELCOME TO PASS N'PLAY</h1>
  <p class="text-fontc text-2xl">
    Your one stop spot to find your favorite games, guides, and streamers!

Create your own profile to like, and favorite a game.

Share your information to others!
  </p>
</div> -->

<%- include("partials/homeFooter") -%>
