<%- include('partials/header') -%>
<div class="container">
  <nav class="flex justify-between items-center my-3">
    <img class="w-32" src="img/gamers-hub-logo.png" alt="" />
    <ul class="flex flex-wrap">
      <li>
        <a
          href="login" class="text-fontcs font-semibold text-2xl mx-5 cursor-pointer">Login</a></li> <li><a href="register" class="
          text-fontcs font-semibold
          text-2xl
          mx-5
          cursor-pointer
          href=""
          >Register</a
        >
      </li>
    </ul>
  </nav>
</div>
<div class="container rounded-lg bg-containcolor py-10 px-5 my-10  overflow-hidden">
  <h1 class="text-fontc mb-5 text-5xl font-mono font-semibold">WELCOME TO GAMER'S HUB</h1>
  <p class="text-fontc text-2xl">
    Your one stop spot to find your favorite games, guides, and streamers!

Create your own profile to like, and favorite a game.

Share your information to others!
  </p>
</div>

<%- include('partials/footer') -%>
