<%- include("partials/header") -%>

<div class="container flex flex-col justify-center items-center">
  <a href="/"
    ><img class="w-48" src="img/pass-n-play-logo.png" alt="Pass N Play Logo"
  /></a>
  <div class="container flex items-center justify-evenly">
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="text-red-600"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="text-red-600"><%= el.msg %></div>
    <% }) %> <% } %>
  </div>
  <form
    class="flex bg-charcoal flex-col justify-center py-6 h-80 my-0 mx-auto sm:w-96 rounded-md w-64"
    action="/login"
    method="POST"
  >
    <label class="text-fontc font-bold mx-9 my-0">Email</label>
    <input
      class="py-2 rounded-lg px-3 sm:w-80 my-3 mx-auto"
      type="text"
      name="email"
    />
    <label class="text-fontc font-bold mx-9 my-0">Password</label>
    <input
      class="py-2 rounded-lg px-3 sm:w-80 my-3 mx-auto"
      type="password"
      name="password"
    />
    <button
      class="btn bg-fontcs hover:bg-blue_yonger my-2 mx-auto"
      type="submit"
    >
      Login
    </button>
    <a
      class="text-fontc hover:text-blue_yonger text-center m-auto"
      href="register"
      >Create Account</a
    >
  </form>
</div>
