<%- include('partials/header') -%> <%- include("partials/dashboard-header.ejs")
-%>
<div class="text-fontcs flex mt-8"><%- include("partials/sidebar.ejs") -%></div>

<div class="container">



  
  
  </div>
</div>

<%- include('partials/footer') -%>
