<%- include("partials/header") -%>
<div class="container my-64">
  <form
    class="grid grid-cols-1 gap-2 place-items-center"
    action="/register"
    method="POST"
  >
    <label class="text-white" for="name">Name</label>
    <input class="my-3 py-1 rounded" type="name" name="Name" />
    <label class="text-white" for="email">Email</label>
    <input class="my-3 py-1 rounded" type="email" name="Email" />
    <label class="text-white" for="password">Create Password</label>
    <input class="my-3 py-1 rounded" type="password" name="password" />
    <label class="text-white" for="password">Confirm Password</label>
    <input class="my-3 py-1 rounded" type="password" name="password" />
    <button class="btn bg-fontcs hover:bg-gray-700 my-4">Register</button>
    <a class="text-fontc mx-10 hover:text-gray-700" href="/login"
      >Have an account? Login</a
    >
  </form>
</div>

<%- include("partials/footer") -%>
