<%- include("partials/header") -%>

<div class="container flex items-center justify-evenly">
  <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
  <div class="text-red-600"><%= el.msg %></div>
  <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
  el => { %>
  <div class="text-red-600"><%= el.msg %></div>
  <% }) %> <% } %>
</div>

<div
  class="container flex flex-row flex-wrap my-64 items-center justify-evenly"
>
  <a href="/"> <img class="w-48" src="img/gamers-hub-logo.png" alt="" /></a>
  <form class="flex flex-col w-72" action="/register" method="POST">
    <label class="text-white" for="userName">Username</label>
    <input
      class="my-3 py-2 px-3 rounded w-72"
      type="text"
      id="userName"
      name="userName"
    />
    <label class="text-white" for="emailInputEmail1">Email</label>
    <input
      class="my-3 py-2 px-3 rounded w-72"
      type="email"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
    />
    <label class="text-white" for="password">Create Password</label>
    <input
      class="my-3 py-2 px-3 rounded w-72"
      type="password"
      name="password"
      id="password"
    />
    <label class="text-white" for="confirmPassword">Confirm Password</label>
    <input
      class="my-3 py-2 px-3 rounded w-72"
      type="password"
      name="confirmPassword"
      id="confirmPassword"
    />
    <button class="btn bg-fontcs hover:bg-gray-700 my-4">Register</button>
    <a class="text-fontc mx-10 hover:text-gray-700" href="/login"
      >Have an account? Login</a
    >
  </form>
</div>

<%- include("partials/footer") -%>
