<%- include("partials/header") -%>

<div class="container flex flex-row flex-wrap items-center justify-evenly">
  <a href="/"> <img src="img/pass-n-play-logo.png" alt="" /></a>
  <div class="container flex items-center justify-evenly">
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="text-red-600"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="text-red-600"><%= el.msg %></div>
    <% }) %> <% } %>
  </div>
  <form
    class="flex bg-charcoal flex-col justify-center h-100 py-4 mb-10 mx-auto sm:w-96 w-64 rounded-md"
    action="/register"
    method="POST"
  >
    <label class="text-fontc font-bold mx-9 my-0" for="userName"
      >Username</label
    >
    <input
      class="py-2 rounded-lg px-3 my-3 mx-auto sm:w-80"
      type="text"
      id="userName"
      name="userName"
    />
    <label class="text-fontc font-bold mx-9 my-0" for="emailInputEmail1"
      >Email</label
    >
    <input
      class="py-2 rounded-lg px-3 my-3 mx-auto sm:w-80"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      type="email"
    />
    <label class="text-fontc font-bold mx-9 my-0" for="password"
      >Create Password</label
    >
    <input
      class="py-2 rounded-lg px-3 my-3 mx-auto sm:w-80"
      type="password"
      name="password"
      id="password"
    />
    <label class="text-fontc font-bold mx-9 my-0" for="confirmPassword"
      >Confirm Password</label
    >
    <input
      class="py-2 rounded-lg px-3 my-3 mx-auto sm:w-80"
      type="password"
      name="confirmPassword"
      id="confirmPassword"
    />
    <button class="btn bg-fontcs hover:bg-blue_yonger my-2 mx-auto">
      Register
    </button>
    <a
      href="/login"
      class="text-fontc hover:text-blue_yonger text-center my-3 mx-auto"
      >Have an account? Login Here</a
    >
  </form>
</div>
