<%- include("partials/header") -%>

<form action="/register" method="POST">
  <label for="username">Username</label>
  <input type="username" name="username" />
</form>

<%- include("partials/footer") -%>
