<%- include('partials/header') -%>

<div
  class="
    p-10
    grid grid-cols-1
    sm:grid-cols-1
    md:grid-cols-4
    lg:grid-cols-4
    xl:grid-cols-4
    gap-5
    content-center
  "
>
  <% for(let i = 0; i < games.results.length; i++) { %>
  <div class="bg-containcolor overflow-hidden shadow-lg rounded-3xl p-4">
    <h2 class="text-white"><%- games.results[i].name %></h2>
    <img
      class="object-cover h-48 w-full"
      src="<%- games.results[i].background_image %>"
      alt=""
    />
  </div>
  <% } %>
</div>
<%- include('partials/footer') -%>
